<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>List Page</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <h1 th:text = ${newUserName}></h1>
    <a th:href="@{/addNew}">Add New Recipe</a>

    <div sec:authorize="isAnonymous()">
        <p>Welcome User</p>
    </div>

    <div sec:authorize="isAuthenticated()">
        <p th:text="${username}">Welcome User</p>

    <form th:action = @{/logout} method="post">
        <input type="submit" value="Log out"/>
    </form>
    </div>

    <div th:each="menu : ${menuList}">
        <div class="content" th:object = ${user}>
            <div class="inside-box">
                <h1 th:text="${menu.name}" class="menu-name">Menu Name</h1>
                <a th:href="@{/foodDescription/{myMenuId}(myMenuId=${menu.id})}"><p class="text">See More...</p></a>
                <a th:href="@{delete/{myMenuId}(myMenuId=${menu.id})}" th:text="Delete">Delete</a>
                <a th:href ="@{edit/{myMenuId}(myMenuId=${menu.id})}" th:text="Edit">Edit</a>
            </div>
        </div>
    </div>

</body>
</html>