<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    
    <meta charset="UTF-8">
    <title>Register</title>
    
</head>
<body>
    <form th:object = "${user}" method="post" th:action="@{/register}">
        <p>
            <label>Enter Username :</label>
            <input type="text" th:field="*{username}"/>
        </p>
        <p>
            <label>Enter Password :</label>
            <input type="password" th:field="*{password}"/>
        </p>
        <input type="submit" value="Register"/>
    </form>
</body>
</html>
